/* progress bar */

.outer {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}

.inner {
  background-color: green;
  padding: 10px;
  text-align: end;
  transition: all 0.5s ease-in;
}
